<div>
  <label>Título:</label>
  <%= @evaluation.title %>
</div>

<div>
  <label>Nota de aprobación:</label>
  <%= @evaluation.approbation_grade %>
</div>

<div>
  <label>Fecha:</label>
  <%= @evaluation.date.to_s.gsub(/-+(\d{4})/,'') %>
</div>

<div>
  <%= @evaluation.course %>
</div>


<%= link_to 'Editar', edit_course_evaluation_path(@evaluation.course, @evaluation), :class => 'btn btn-success edit-button' %>