<div class="row">
      <%= form_tag sessions_path, class: 'form-sign-in', method: :post do %>
        <div class="form-group">
          <%= label_tag :email, nil , class: 'sr-only' %>
          <%= email_field_tag :email, nil, placeholder: 'Ingres치 tu e-mail', class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= label_tag :password, nil, class: 'sr-only'  %>
          <%= password_field_tag :password, nil, placeholder: 'Ingres치 tu contrase침a', class: 'form-control', required: true %>
        </div>

        <%= submit_tag 'Iniciar sesi칩n', class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
</div>