<p id="notice"><%= notice %></p>
<div>
  <label>Año:</label>
  <%= @course.year %>
</div>

<div>
  <label>Evaluaciones</label>
  <%= render "courses/evaluations_table" %>
</div>
<div>
  <label>Alumnos</label>
  <%= render "courses/students_table" %>
</div>

</br>
<%= link_to 'Editar', edit_course_path(@course) %>
<%= link_to 'Atras', courses_path %>
