<%= simple_form_for([@course, @student]) do |f| %>
  <%= render 'layouts/form_error_alert', resource: @student %>

  <div class="form-inputs">
    <%= f.input :first_name, label: 'Nombre', placeholder: 'Ingresa el/los nombre/s del alumno', error: 'El nombre ingresado es inválido',  input_html: { required: true } %>
    <%= f.input :last_name, label: 'Apellido', placeholder: 'Ingresa el/los apellido/s del alumno', error: 'El apellido ingresado es inválido',  input_html: { required: true} %>
    <%= f.input :dni, label: 'DNI', placeholder: 'Ingrese el DNI del alumno sin puntos (.)', error: 'El DNI ingresado es inválido', input_html: { min: '1000000' , max: '100000000', required: true }%>
    <%= f.input :number, label: 'Legajo', placeholder: 'Ingrese el legajo del alumno' %>
    <%= f.input :email , as: 'email' , placeholder: 'Ingrese la dirección de correo del alumno', error: 'La dirección ingrasada es inválida', input_html: { required: 'true' } %>
    <%= f.input :courses, as: :hidden, input_html: { value: @course } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>
    <span>  </span>
    <%= link_to 'Cancelar', course_students_path , :class => 'btn btn-default', :role => 'button' %>
  </div>

<% end %>
