<p id="notice"><%= notice %></p>

<h2>Alumnos</h2>
<h4><%= @course %></h4>
<div class="row">
  <div class="col-md-10">
    <ul class="list-group">
      <% @students.each do |student| %>
        <li class="list-group-item justify-content-between">
          <div class="row">
            <div class="col-md-7">
              <%= link_to student.last_name << " " <<student.first_name , course_student_path(@course, student), :class => 'list-item-show-link' %>
            </div>
            <div class="col-md-2">
              <%= link_to edit_course_student_path(@course, student), :class => 'btn btn-success list-item-action-link', :role => 'button' do %>
                <span class="fa fa-edit fa-lg"></span> Editar
              <% end %>
            </div>
            <div class="col-md-2">
              <%= link_to course_student_path(@course, student) , :method => 'delete', :class => 'btn btn-danger list-item-action-link',
                          data: { confirm: 'Are you sure?' }, :role => 'button' do %>
                <span class="fa fa-trash-o fa-lg"></span> Eliminar
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'Nuevo alumno', new_course_student_path %>
