<div class="container">

  <%= form_tag sessions_path, method: :post, class: 'form-sign-in' do %>
    <h2 id="form-sign-in-heading">Please sign in</h2>
    <div class="form-group">
      <%= label_tag :email, nil , class: 'sr-only' %>
      <%= email_field_tag :email, nil, placeholder: 'Enter email', class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= label_tag :password, nil, class: 'sr-only'  %>
      <%= password_field_tag :password, nil, placeholder: 'Enter password', class: 'form-control', required: true %>
    </div>

    <%= submit_tag 'Sign in', class: 'btn btn-primary btn-lg btn-block' %>
  <% end %>

</div>