<p id="notice"><%= notice %></p>
<div>
  <label>Año:</label>
  <%= @course.year %>
</div>

<ul>
  <li>
    <div>
      <%= link_to 'Evaluaciones', course_evaluations_url(@course) %>
    </div>
  <li>
    <div>
      <%= link_to 'Notas', evaluations_grades_course_url %>
    </div>
  </li>
  <li>
    <div>
      <%= link_to 'Alumnos', course_students_url(@course) %>
    </div>
  </li>
</ul>
</br>
<%= link_to 'Editar', edit_course_path(@course) %>
<%= link_to 'Atras', courses_path %>
