<nav class="navbar navbar-inverse bg-inverse" style="background-color: #2E2F30">
  <div class="dropdown show">
    <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Cursadas
    </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby='dropdownMenuLink'>
      <% Course.all.order(:year).each do |c| %>
       <li class="dropdown-submenu">
        <%= link_to c.to_s, c, :class => 'dropdown-item' %>
         <ul class="dropdown-menu">
           <li><%= link_to 'Alumnos', course_students_path(c), :class => 'dropdown-item' %></li>
           <li><%= link_to 'Evaluaciones', course_evaluations_path(c), :class => 'dropdown-item' %></li>
           <li><%= link_to 'Notas', evaluations_grades_course_path(c), :class => 'dropdown-item' %></li>
         </ul>
       </li>
      <% end %>
    </ul>>
  </div>
  <%= link_to log_out_path, method: :delete, :class => 'navbar-brand' do %>
    Cerrar sesión<span class="fa fa-arrow-circle-o-right fa-lg"></span>
  <% end %>
</nav>