<!DOCTYPE html>
<html>
  <head>
    <title>Catedra TTPS-Ruby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <%= render "layouts/header" %>
        <% if current_user %>
          <%= render 'layouts/navbar' %>
          <div class="container">
            <div class="row">
              <%= link_to :back do %>
                <span class="fa fa-arrow-circle-o-left fa-lg"></span>Atrás
              <% end %>
            </div>

            <% unless flash[:notice].nil? %>
              <div class="row">
                <div class="column-md-12">
                  <div class="alert alert-success" role="alert">
                    <h5><%= flash[:notice] %></h5>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <%= yield %>
        </div>
  </body>
</html>
